.custom-modal {
  width: 50%;
  height: auto;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 60% !important;

    .modal-header {
      display: none;

      @media (max-width: 1440px) {
        display: block;
      }
    }
  }
}

.modal-body {
  padding: 0 !important; //modal body의 패딩을 없애주기 위해

  .web-display {
    display: block;

    @media (max-width: 1440px) {
      display: none;
    }
  }

  .mobile-display {
    display: none;

    @media (max-width: 1440px) {
      display: block;
    }
  }

  .close-btn {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
  }

  .sub-title-container {
    position: absolute;
    top: 4%;
    left: 5%;
    font-size: 13pt;

    @media (max-width: 1440px) {
      position: relative;
      margin-top: 10px;
    }
  }

  .title-container {
    position: absolute;
    top: 7%;
    left: 5%;
    font-size: 25pt;
    font-weight: 800;
  }

  .contents-container {
    position: absolute;
    top: 18%;
    left: 5%;
    font-size: 12pt;

    @media (max-width: 1440px) {
      position: relative;
      margin: 10px 0;
      font-size: 1.2rem;
      width: 90%;
    }
  }

  .period-container {
    position: absolute;
    bottom: 13%;
    left: 5%;
    display: flex;
    font-size: 11pt;
    width: 100%;

    @media (max-width: 1440px) {
      position: relative;
      margin-top: 10px;
      font-size: 1.2rem;
    }
  }

  .work-container {
    position: absolute;
    bottom: 9%;
    left: 5%;
    display: flex;
    font-size: 11pt;
    width: 100%;

    @media (max-width: 1440px) {
      position: relative;
      margin-top: 10px;
      font-size: 1.2rem;
    }
  }

  .tool-container {
    position: absolute;
    bottom: 5%;
    left: 5%;
    display: flex;
    font-size: 11pt;
    width: 100%;

    @media (max-width: 1440px) {
      position: relative;
      margin-top: 10px;
      font-size: 1.2rem;
    }
  }

  .container-title {
    font-weight: 700;
    width: 10%;

    @media (max-width: 1440px) {
      width: 20%;
    }
  }

  .container-contents {
  }
}

.black {
  color: black;
}

.white {
  color: #fff;

  @media (max-width: 1440px) {
    color: black;
  }
}
