.sidenav-container {
  display: flex;
  justify-content: space-between;

  .left-text {
    writing-mode: vertical-rl;
    align-self: center;
  }

  .page-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: center;
  }
}
