@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap);

.profile-container {
  width: 100%;
  height: 100%;
  padding-top: 45px;
  display: flex;

  @media (max-width: 1440px) {
    flex-direction: column;
    padding-top: 0;
    height: auto;
  }

  //페이지 width사이즈가 1145사이즈 이상일때 이미지 영역
  .left-contents {
    background: #ffb000;
    // box-shadow: inset -8px 6px 50px 0px darkorange;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;

    @media (max-width: 1440px) {
      grid-template-rows: 1fr 5fr;
    }

    //MEDIA ART & WEBDESIGN
    .profile-text {
      color: #fff;
      place-self: end;
      margin: 0 240px 5px 0;
      font-family: "Tinos", serif;

      @media (max-width: 1440px) {
        opacity: 0;
      }
    }

    .profile-contents {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 1fr;

      @media (max-width: 1440px) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 2fr;
      }

      //프로필 이미지
      .hashtag {
        .profile-img {
          width: 100%;
          cursor: pointer;
        }
      }

      .on-mouse {
        opacity: 0.1;
        align-self: end;
        margin-bottom: 50px;

        @media (max-width: 1440px) {
          opacity: 1;
          align-self: auto;
          margin-bottom: 0;
        }

        //mail, sns, git
        .stats {
          display: none;

          @media (max-width: 1440px) {
            display: block;
            margin: 0 0 0 20px;
            font-size: 13pt;
            text-align: left;

            div {
              margin-top: 27px;
              a:link {
                color: #212529;
                text-decoration: none;
              }
              a:visited {
                color: #212529;
                text-decoration: none;
              }
              a:hover {
                color: #212529;
                text-decoration: none;
              }
            }
          }
        }

        .text {
          text-align: -webkit-left;
          margin-left: 20px;
          font-size: 12pt;
          cursor: help;

          @media (max-width: 1440px) {
            display: none;
          }
        }
      }

      .hashtag:hover + .on-mouse {
        opacity: 1;
        color: rgb(0, 0, 0);
      }
      .mprofile-text {
        display: none;

        @media (max-width: 1440px) {
          display: block;
          color: #fff;
          font-size: 12pt;
          margin-top: 50px;
          text-align: end;
          p {
          }
        }
      }
    }
  }

  //페이지 width사이즈가 1145사이즈 이상일때 글 영역
  .right-contents {
    background: #fff;
    // box-shadow: inset 8px 6px 50px 0px darkgrey;
    flex: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
   
    @media (max-width: 1440px) {
      height: auto;}

    .main-title {
      text-align: center;
      font-size: 30pt;
      font-family: "Tinos", serif;
      place-self: center;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      color: #ffb000;
      text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);

      @media (max-width: 1440px) {
        display: none;
      }
    }

    .contents-text {
      font-size: 10.5pt;
      text-align: justify;
      place-self: center;
      justify-self: left;
      display: flex;

      @media (max-width: 1440px) {
        display: none;
      }

      .title {
        font-size: 15pt;
        font-weight: bold;
      }

      .text-a {
        width: 100%;
        margin-right: 50px;
      }
      .text-b {
        width: 100%;
        margin-right: 100px;
      }
    }
  }
}
